In [5]:
import pandas as pd
time_series_df=pd.read_excel(r'C:\Users\Ronny\Desktop\2022\Ogauge pressure gauge\New data\Leakage_data.xlsx')
time_series_df.head()

       Time  PRESSURE
0  0.659016     5.010
1  0.659028     5.012
2  0.659039     5.010
3  0.659051     5.008
4  0.659062     5.009